@model List<LabHelloMvc.Models.Person>

@{
    ViewData["Title"] = "Home Page";
}

<h1>People</h1>

@foreach(var item in Model)
{
    <p>
        @item.PersonID<br />
		@item.FirstName<br />
		@item.LastName<br />
    </p>
}


